/* Definitely needs restructuring. This shit is a mess. If you're reading this, eat my ass */

/* Begin Text CSS */

    h1 {

        font-size:40px;

        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

        text-align: center;
    
        }
    
        h1.selected {

            font-size: 1em;
            color: #F6F7EB;
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            text-align: center;
    
            background-color: #393D3F;  
    
            opacity: 85%;
            
            border-style: solid;
            border-color: #698C89;
            border-radius: 20px;
            border-width: 1px;
    
            margin-top: 4px;
            margin-bottom: 4px;
                
       
        }

        h1.secondary {

            font-size: 1em;
            color: #F6F7EB;
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            text-align: center;
    
            background-color: #393D3F;  
    
            opacity: 85%;
            
            border-style: solid;
            border-color: #02040F;
            border-radius: 20px;
            border-width: 2px;
    
            margin-top: 4px;
            margin-bottom: 4px;
                
       
        }


        h2 {
            color: #F6F7EB;
            font-size: 24px;
            font-family:'Courier New', Courier, monospace; 
            text-align: center;
            line-height: 2em;
    
            margin-left: 25%;
            margin-right: 25%;
    
            border-radius: 10px;
            border-style: solid;
            border-color: #f2a900;
            border-width: 4px;
        }
    
        h2.selected {
            color: #F6F7EB;
            font-size:25px;
            font-family:'Courier New', Courier, monospace; 
            text-align: center;
            line-height: 2em;
    
            margin-left: 25%;
            margin-right: 25%;
    
            border-radius: 10px;
            border-style: solid;
            border-color: #f2a900;
            border-width: 3px;
            
            }
    
        h3 { 
            font-size:15px;
            font-weight: 500;

            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            text-align: center;
            color: #F6F7EB;
            line-height: 2em;

            
    
            margin-left: 70px;
            margin-right: 70px;

            padding-left: 2px;
            padding-right: 2px;
    
            border-radius: 25px;
            border-style: solid;
            border-color: #698C89;
            border-width: 3px;
        }

        h3.warning { 
            font-size:15px;
            font-weight: 500;

            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            text-align: center;
            color: #F6F7EB;
            line-height: 2em;
            
    
            margin-left: 90px;
            margin-right: 90px;

            padding-left: 2px;
            padding-right: 2px;
    
            border-radius: 25px;
            border-style: solid;
            border-color: #F2A900;
            border-width: 3px;

        }

        h3.other { 
            font-size:15px;
            font-weight: 500;

            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            text-align: center;
            color: #F6F7EB;
            line-height: 2em;
            
    
            margin: 0px 50px 0px 50px;

            padding-left: 2px;
            padding-right: 2px;
    
            border-radius: 25px;
            border-style: solid;
            border-color: #698C89;
            border-width: 3px;

        }
        
        h4 {

            font-size: 15px;
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            text-align: center;

            color: #F6F7EB;
            line-height: 2em;
    
            margin-left: 10px;
            margin-right: 10px;
    
            border-radius: 25px;
            border-style: solid;
            border-color: #f2a900;
            border-width: 3px;
        }
    
        h5 {

            text-align: center;
        }
        
        p { 
            font-size: 13px;
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            padding-left: 5px;
        }
    
        p.selected { 
            font-size: 14px;
            font-family: 'Times New Roman', Times, serif;
            color: #F6F7EB;
        }

        p.aside { 

            font-size: 13px;
            font-family: 'Times New Roman', Times, serif;
            color: #F6F7EB;
            
        }

        p.divider {
            font-size: 13px;
            font-family: 'Times New Roman', Times, serif;
            color: #F6F7EB;
            text-align: center;
        }


        /* End Text CSS */



        /* Begin body, div, section, aside, etc, CSS */
    
    body {        
        font-size:12px;
        background-color:#698C89;
        background-size: cover;
        max-width: 100%;

            }
    a {
        color: blue;
    }


    div.header {
        padding: 3px 48px 3px 48px;
        margin: 10px 64px 10px 64px;


        background-color: #162526;
        border-width: 3px; 
        border-style: outset;
        border-color: #02040F;
        border-radius: 50px;

        
        


    }

        

    div.aside {
        padding: 5px 5px 5px 5px;
        margin: 10px 10px 10px 10px;


        background-color: #162526;
        opacity: 85%;
        border-radius: 10px;
        border-style: solid;
        border-color: #02040F;
        border-width: 3px;
       
    }

    aside { 
        padding: 5px;
        margin: 5px 10px 20px 10px;

        text-align: left;
        
        background-color: #162526;
        

        opacity: 85%;
    
    }


    div.aboutme{
        padding: 0px 12px 0px 12px;
        margin: 20px 10px 20px 10px;


        background-color: #494949;
        opacity: 85%;
        border-style: solid;
        border-width: 5px;
        border-radius: 20px;
        clear: none;
        text: white;
        
        clear: none;

    }

    div.orderedlist {
        padding: 0px 12px 0px 12px;
        margin: 20px 10px 20px 10px;


        background-color: #494949;
        opacity: 85%;    

        border-style: solid;
        border-width: 5px;
        border-radius: 20px;
        clear: none;
        text: white;


    }
    

    

    section { 
        

        padding: 5px 12px 5px 12px;
        margin: 20px 30px 20px 30px;


        align: center;
        padding-left: 0px;
        padding-right: 0px;
        color: white;

        border-radius: 10px;
        border-style: none;
        border-color: #f2a900;
        border-width: 4px;

        


    }
    
    
    div.subparagraph { 
        
        padding: 5px 12px 5px 12px;
        margin: 10px 10px 10px 10px;


        background-color: #393D3F;
        opacity: 85%;
        border-radius: 10px;
        border-style: solid;
        border-color: #02040F;
        border-width: 3px; 
        

    }

    ol { 
        font-size:16px;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding-right: 30px;
        padding-left: 30px;

        color: white;

    }

    img { height: 252px;
        width: 189px;

    }

    iframe.seth {
        width:210px;
        height:126px;
    }

    

    footer { 
         
        border-style: solid;
        border-radius: 10px;
        border-width: 5px;
        margin-left: 50px;
        margin-right: 50px;
        text-align: center;

        padding-bottom: 50px;


       }


       /* Begin Images CSS */

.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    width: 180px;
    height: 58px;

    }
    
    img.miketyson {
        height: 40px;
        width: 40px;
        
        float: right;
        clear: none;
    }

    img.footerskull {
        height:128px;
        width:128px;

        float: left;
    }
    
    
    div.sharma {
        float: left;
        padding-left: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-style: none;
        
        
        
    }


    div.nam { 
        float: right;
        clear: none;
        padding-right: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-style: none;
        border-radius: 5px;
        align: center;
    }


    div.coolexample {
        float: left;
        padding-left: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-style: none;
        clear: both;

    }


    div.tycobb {
        float: right;
        clear: none;
        padding-right: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-style: none;
        border-radius: 5px;
        align: center;

    }

       
/* End Images CSS */