

/* Begin Text CSS */

    h1.header {

        font-size:36px;

        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
        text-align: center;

        margin: 3px 0px 0px 0px;

        float: left;
        clear: both;
        
        }
    


        h2.header {
            font-size: 30px;
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

            text-align: center;

            color: #02040F;

            margin: 7px 100px 7px 100px;

            float: center;
            clear: both;

            box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
            
    
            
    
           
        }
    
        h2.selected {
            color: #F6F7EB;
            font-size:25px;
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            line-height: 2em;
    
            margin-left: 25%;
            margin-right: 25%;
    
            border-radius: 10px;
            border-style: solid;
            border-color: #f2a900;
            border-width: 3px;
            
            }
    
        h3 { 
            font-size:24px;
            font-weight: 500;

            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            text-align: center;
            color: Black;
            float: none;
        }

        h3.header { 
            font-size:24px;
            font-weight: 500;

            margin: 7px 100px 7px 100px;

            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            text-align: center;
            color: #02040F;
        }

        
        
        h4 {

            font-size: 16px;
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            text-align: center;

            color: #F6F7EB;
            line-height: 2em;
    
            margin-left: 35%;
            margin-right: 35%;
    
            border-radius: 50px;
            border-style: none;
            border-color: #f2a900;
            border-width: 3px;
        }
    
        h5 {

            font-size: 12px;

            text-align: center;

            margin-left: 35%;
            margin-right: 35%;
    
            border-radius: 50px;
            border-style: solid;
            border-color: #f2a900;
            border-width: 3px;
        }
        
        p { 
            font-size: 13px;
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            padding-left: 5px;

            color: black;
        }
    
        p.selected { 
            font-size: 14px;
            font-weight:400;
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

            color: black;
        }

        p.aside { 

            font-size: 3px;
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: #F6F7EB;
            
        }

          p.footer { 
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            
            font-size:11px;

            text-align: center;

          }



        /* End Text CSS */



        /* Begin body, div, section, aside, etc, CSS */
    
    body {        
        font-size:12px;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,63,9,1) 25%, rgba(8,31,135,1) 50%, rgba(37,137,8,1) 75%, rgba(0,212,255,1) 100%);
        background-size: cover;
        max-width: 100%;

        border-color: white;
        border-width: 3px;
    
    }

    b.one {
        position: absolute;
        background-color:black;

    }

    b.two {
        position: absolute;
        background-color:white;

    }

    b.three {
        position: absolute;
        background-color:black;

    }

    b.four {
        position: absolute;
        background-color:white;

    }

    div { 

        display: flex;    

        border-color:black;
        border-style: Solid;
        border-width: 2px;

        margin: 10px 30px 10px 30px;

        background-clip: content-box;
        
        background: rgba(255, 255, 255, 0.58);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);backdrop-filter: blur(5.4px);
        -webkit-backdrop-filter: blur(5.4px);
        border: 1px solid rgba(255, 255, 255, 0.22);

    
    
    }

    /* Begin Figma Box Designs */




    /* END Figma Box Design */



    /* BEGIN NAVBAR CSS */

    a {
        position:relative;
        text-decoration:none;
        color:black;
        font-size: 13px;
        border:1px solid #03A2A2;
        border-radius: 3px;
      }

      a{
        display:table;
      }

      a:hover{
        color:#fff;
        background-color:#3863F4; 
     }


      /* END NAVBAR CSS */

    div.header {
        padding: 1px 1px 1px 1px;
        margin: 10px 270px 10px 270px;

        


        background-color: #162526;
        border-width: 2px; 
        border-style: solid;
        border-color: #02040F;
        border-radius: 10px;
    
    }

        

    div.aside {
        padding: 5px 5px 5px 5px;
        margin: 10px 10px 10px 10px;


        background-color: #162526;
        opacity: 85%;
        border-radius: 10px;
        border-style: solid;
        border-color: #02040F;
        border-width: 3px;
       
    }

    aside { 
        padding: 5px;
        margin: 5px 10px 20px 10px;

        text-align: left;
        
        background-color: #162526;
        

        opacity: 85%;
    
    }


    div.aboutme{
        padding: 0px 12px 0px 12px;
        margin: 20px 10px 20px 10px;


        background-color: #494949;
        opacity: 85%;
        border-style: solid;
        border-width: 5px;
        border-radius: 20px;
        clear: none;
        text: white;
        
        clear: none;

    }    

    section { 
        

        padding: 5px 12px 5px 12px;
        margin: 20px 30px 20px 30px;


        align: center;
        padding-left: 0px;
        padding-right: 0px;
        color: white;

        border-radius: 10px;
        border-style: none;
        border-color: #f2a900;
        border-width: 4px;

        


    }
    
    
    div.subparagraph { 
        
        align-content: justify;

        
        

    }

    div.navbar {

        padding: 5px 12px 5px 12px;
        margin: 10px 500px 10px 30px;


        background-color: #393D3F;
        opacity: 85%;
        border-radius: 10px;
        border-style: solid;
        border-color: #02040F;
        border-width: 3px; 

    }


    ol { 
        font-size:16px;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding-right: 30px;
        padding-left: 30px;

        color: white;

    }

    img { height: 252px;
        width: 189px;

        border-color: black;
        border-width: 3px;

    }


    .youtube {
        width: 300px;
        height: 450px;
        

        display: flex;
        float: left;
        
    }

    .soundcloud { 
        width: 300px;
        height: 450px;

        float: left;
        

    }

    

    footer { 
         
        border-style: none;
        border-radius: 10px;
        border-width: 5px;
        margin-left: 50px;
        margin-right: 50px;
        text-align: center;

        padding-bottom: 50px;


       }







       /* Begin Images CSS */


.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    width: 180px;
    height: 58px;

    }

    img.footerskull {

        display: block;
    margin-left: auto;
    margin-right: auto;

        width: 190px;
        height: 80px;

        
       
    }
    
    img.miketyson {
        height: 40px;
        width: 40px;
        
        float: right;
        clear: none;
    }
    
    
    div.sharma {
        float: left;
        padding-left: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-style: none;
        
        
        
    }


    div.nam { 
        float: right;
        clear: none;
        padding-right: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-style: none;
        border-radius: 5px;
        align: center;
    }
/* End Images CSS */