/* Definitely needs restructuring. This shit is a mess. If you're reading this, eat my ass */



body {
    font-size:12px;
    background-color:#D5DFE5;
    background-image: url("https://images.pexels.com/photos/62693/pexels-photo-62693.jpeg");
    background-size: cover;

    max-width: 100%;
    }

    .banner {
        display: block;
  margin-left: auto;
  margin-right: auto;

        width: auto;
        height: auto;
    }

    div.bg { opacity: 0%;
        
    }

    div.header {
        padding: 5px 12px 5px 12px;
        margin: 10px 10px 10px 10px;


        background-color: #b6b6b6;
        border-width: 4px; 
        border-style: solid;
        border-color: black;
        border-radius: 10px;


    }

        

    div.aside {
        padding: 5px 12px 5px 12px;
        margin: 10px 10px 10px 10px;


        background-color: #494949;
        opacity: 85%;
        border-radius: 10px;
        border-style: solid;
        border-color: black;
        border-width: 4px;
       
    }

    aside { 
        padding: 5px;
        margin: 5px 10px 20px 10px;

        text-align: center;
        border-style: none;
        border-color:#f2a900;
        background-color: #494949;
        border-radius: 10px;

        opacity: 85%;
    
    }

    p.aside { 

        color: white;
        font-family:"Times New Roman";
        
    }

    div.aboutme{
        padding: 0px 12px 0px 12px;
        margin: 20px 10px 20px 10px;


        background-color: #494949;
        opacity: 85%;
        border-style: solid;
        border-width: 5px;
        border-radius: 20px;
        clear: none;
        text: white;
        
        clear: none;

    }

    div.orderedlist {
        padding: 0px 12px 0px 12px;
        margin: 20px 10px 20px 10px;


        background-color: #494949;
        opacity: 85%;    

        border-style: solid;
        border-width: 5px;
        border-radius: 20px;
        clear: none;
        text: white;


    }
    
   

    h1 {
    font-size:40px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;

    }

    h1.selected {
        font-size: 28px;
        color: white;
        font-family:'Courier New', Courier, monospace;

        background-color: #494949;

        opacity: 85%;


        text-align: center;
        
        

        border-style: solid;
        border-color: #f2A900;
        border-radius: 10px;
        border-width: 4px;

        margin-top: 4px;
        margin-bottom: 4px;
            
   
    }
    h2 {
        color: white;
        font-size:23px;
        font-family:'Courier New', Courier, monospace; 
        text-align: center;
        line-height: 2em;

        margin-left: 25%;
        margin-right: 25%;

        border-radius: 10px;
        border-style: solid;
        border-color: #f2a900;
        border-width: 4px;
    }

    h2.selected {
        color: white;
        font-size:25px;
        font-family:'Courier New', Courier, monospace; 
        text-align: center;
        line-height: 2em;

        margin-left: 25%;
        margin-right: 25%;

        border-radius: 10px;
        border-style: solid;
        border-color: #f2a900;
        border-width: 4px;
        
        }

    h3 { 
        font-size:20px;
        font-family:'Courier New', Courier, monospace;
        text-align: center;
        color: white;
        line-height: 2em;

        margin-left: 10px;
        margin-right: 10px;

        border-radius: 10px;
        border-style: solid;
        border-color: #f2a900;
        border-width: 4px;
    }



    h4 { 
        font-size: 16px;
        font-family:'Courier New', Courier, monospace;
        text-align: center;
    }
    
    p { 
        font-size: 16px;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding-left: 5px;
    }

    p.selected { 
        font-size: 16px;
        font-family: 'Times New Roman', Times, serif;
        color: white;
    }
    

    section { 
        

        padding: 5px 12px 5px 12px;
        margin: 20px 30px 20px 30px;


        align: center;
        padding-left: 0px;
        padding-right: 0px;
        color: white;

        border-radius: 10px;
        border-style: none;
        border-color: #f2a900;
        border-width: 4px;

        


    } 

    span.jackson {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 25px;
        color: #f2A900;
    }
    
    


   

    div.subparagraph { 
        
        padding: 5px 12px 5px 12px;
        margin: 10px 10px 10px 10px;


        background-color: #494949;
        opacity: 85%;
        border-radius: 10px;
        border-style: solid;
        border-color: black;
        border-width: 4px; 
        

    }

    ol { 
        font-size:16px;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding-right: 30px;
        padding-left: 30px;

        color: white;

    }

    img { height: 252px;
        width: 189px;

    }

    

    footer { 
         
        border-style: solid;
        border-radius: 10px;
        border-width: 5px;
        margin-left: 50px;
        margin-right: 50px;
        text-align: center;

        padding-bottom: 50px;


       }


div.sharma {
        float: left;
        padding-left: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-style: none;
        
        
        
    }

    div.nam { 
        float: right;
        clear: none;
        padding-right: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-style: none;
        border-radius: 5px;
        align: center;
    }

    div.coolexample {
        float: left;
        padding-left: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-style: none;
        clear: both;

    }

    div.tycobb {
        float: right;
        clear: none;
        padding-right: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-style: none;
        border-radius: 5px;
        align: center;

    }
       

    
    #grad1 {
        height: 200px;
        background-color: red; /* For browsers that do not support gradients */
        background-image: linear-gradient(red, silver); }
